.quora {
  width: "100%";
  display: flex;
  flex-direction: column;
}

.quora__contents {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 0;
}

.cSide{
  flex-direction: column;
  margin-left: 5%;
	padding: 0;
	width: 20%;
	align-items: flex-end;
}
.cFeed{
display: flex;
margin-left: 2%;
margin-right: 2%;
padding: 15px;
width: 65%;

}
.cWidget{
margin-right: 5%;
padding: 0;
width: 20%;
margin-top: 0;
}


.react-responsive-modal-modal {
  width: 90vw;
  height: 90vh;
}

.quill {
  height: 50vh;
}

.react-responsive-modal-overlay {
  background: rgb(0 0 0 / 75%);
}
