.quora {
  width: "100%";
  display: flex;
  flex-direction: column;
}

.quora__contents {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 40px 0;
}

.cSide{
  flex-direction: column;
  margin-left: 90px;

}
.cFeed{
display: flex;
margin-left: 80px;
padding: 15px;
width: 70%;

}
.cWidget{
margin-right: 60px;
width: 20%;
margin-top: 13px;
}


.react-responsive-modal-modal {
  width: 90vw;
  height: 90vh;
}

.quill {
  height: 50vh;
}

.react-responsive-modal-overlay {
  background: rgb(0 0 0 / 75%);
}
