.widget__contents {
  display: flex;
  cursor: pointer;
}

.widget__content {
  margin: 5px;
  display: flex;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.widget__content > img {
  height: auto;
	width: 60px;
	border: 1px solid lightgray;
  border-radius: 5px;
}

.widget__contentTitle {
  margin-left: 10px;
}
.widget__contentTitle > a {
  color: rgb(70, 68, 68);
	text-decoration: none;
	font-weight: 600;
}

.widget__contentTitle > p {
  color: gray;
  font-size: small;
}
