body {
  margin: 0; 
}

.btn:hover {
  box-shadow: unset !important;
}

input[type="button"] {
  outline: none !important;
}

button::selection {
  outline: none !important;
}

button:focus {
  outline: none !important;
}


